#sign-up{
  background: #A48ECC;
  min-height: 100vh;
  font-family: 'Sintony', sans-serif;
  overflow: hidden;
  .container{
    position: relative;
  }
  nav{
    margin-left: 66em;
    margin-top: 3em;
    a{
      color: #fff;
      font-weight: 700;
      padding-right: 1.5em;
    }
  }
  .intro{
    text-align: center;
    margin-top: 6em;
    h1{
      color: #fff;
      font-weight: 400;
      font-size: 2.5em;
    }
    p{
      color: #D8C8EC;
      font-family: 'Sintony', sans-serif;
      padding-bottom: 1em;
    }
    a.btn{
      padding-right: 3em;
      padding-left: 3em;
      border-radius: 3px;
      background-color: #4CDADE;
      color: #fff;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 3em;
    }
  }
  img{
    width:100%;
    padding-left: 5em;
    padding-right: 5em;
  }
  .caption{
    position: absolute;
    bottom: 1.5em;
    left: 11em;
    p{
      font-weight: 700;
      color: #fff;
      margin-top: -5px;
    }
  }

  .caption-likes {
    position: absolute;
    bottom: 1em;
    right: 5em;
    font-size: 2em;
    color: #F3F3F3;

    i.fa{
      margin-right: 0.2em;
    }
  }
}
