#subscribe{
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Sintony', sans-serif;
  .container{
    text-align: center;
    h3{
      text-transform: uppercase;
      color: #816FA6;
      font-size: 2em;
      margin-top: 2em;
    }
    p{
      color: #816FA6;
      font-weight: 700;
    }
  }
}
