#work{
  height: 80vh;
  background-color: #F4F4F2;
  font-family: 'Sintony', sans-serif;

  h3{
    color: #B3B9BF;
    margin-top: 4em;
  }
  p{
    color: #B3B9BF;
    padding-bottom: 1em;
  }
  a.btn{
    background-color: #AD97D8;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 400;
  }

}
